<font color='blue'>Привет! Поздравляю с первым выполненным проектом. Проделана большая работа. Меня зовут Алексей Алексеев, я проверю твою работу и напишу свои комментарии. Они, в зависимости от результата проверки, будут в </font><font color='green'>зеленом (когда все отлично),</font> <font color='brown'>коричневом (когда можно лучше)</font><font color='blue'> или</font> <font color='red'>красном (когда нужно переделать, чтобы я принял работу).</font><font color='blue'> Ну и в синем будут просто советы и нейтральные комментарии. Пожалуйста, не удаляй эти комментарии, они понадобятся нам для дальнейшей работы над проектом. Кстати, сразу предлагаю общаться на "ты".  
Наличие критичного или трех и более некритичных замечаний является поводом для отправки проекта на доработку. Некритичные замечания могут касаться нового материала, не освещенного в тренажере, но пожалуйста, не воспринимай их как мое необоснованное желание указать на твои ошибки. Изучать новый материал по ходу работы над проектом - это часть процесса обучения, на мой взгляд, очень эффективная. Так что не стесняйся задавать вопросы, если что-то не понятно. Наша общая цель - получить новые знания и навыки.     
А чтобы я точно не пропустил твои апдейты, желательно их также подсветить другим цветом, например, <font color='purple'>фиолетовым</font>.

---   
<font color='blue'>Апдейт после проверки: хороший проект, но давай еще немного поработаем.   
    Более подробно см. блок в конце.

</font>

## Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

### Шаг 1. Откройте файл с данными и изучите общую информацию.

In [1]:
import pandas as pd
file = pd.read_csv('/datasets/data.csv')
#file.info()
file.head()

FileNotFoundError: File b'/datasets/data.csv' does not exist

### Вывод

В исходном файле есть 12 столбцов. Файл содержит данные в 3-х разных форматах: float64, int64, object.
В столбцах "days_employed" (общий трудовой стаж в днях) и "total_income"(ежемесячный доход) есть по 21525-19351=2174 пустых строк. Во всех остальных столбцах пустых строк нет.
<font color='purple'>Также обнаружили, что в столбце days_employed(общий трудовой стаж в днях) есть отрицательные значения, чего быть не должно, т.к. невозможно иметь отрицательный стаж в днях.</font>

~<font color='brown'>Здесь также полезно взглянуть на сами данные методом `head`. Это поможет нам выявить первые проблемы в данных. Например, обрати внимание на столбец со стажем.~
<font color='purple'>Исправлено</font>

### Шаг 2. Предобработка данных

### Обработка пропусков

In [ ]:
##Определили медианы для столбцов, имеющих пропуски, и сохранили их в переменные:
days_employed_median = file['days_employed'].median()
total_income_median = file['total_income'].median()
##Заполнили пропущенные значения полученными выше медианами:
file['days_employed'] = file['days_employed'].fillna(days_employed_median)
file['total_income'] = file['total_income'].fillna(total_income_median)
##Заполнили некорректные данные корректными:
file['children'] = file['children'].replace(-1,1) #добавил присвоение
file['children'] = file['children'].replace(20,2) #добавил присвоение
file

<s><font color=red>Замена нулями лучше, чем удаление, но мы можем попытаться частично восстановить данные по имеющимся у нас значениям. Вы проходили в тренажере заполнение типичных числовых пропусков. Как бы мы могли это сделать?
<font color='purple'>Исправлено</font>

<s><font color='brown'>Также обрати внимание, метод `replace` (как и большинство прочих методов `pandas`) не меняет сам датафрейм, а лишь возвращает измененную копию. То есть наши -1 и 20 детей никуда не делись из изначального датафрейма. Чтобы все отработало корректно, нужно провести присвоение, тем самым заменив старый столбец на новый. (`file['children'] = ...`)
<font color='purple'>Исправлено</font>

<b>UPD <font color=green>Успешно разобрались со всеми проблемами, отлично.

<b>UPD <font color=blue>В качестве домашнего задания можно попробовать пойти дальше и попробовать заполнить пропуски медианами по роду деятельности: пенсионеров - медианами пенсионеров, сотрудников - медианами сотрудников. Так заполнение пропусков будет еще лучше.

### Вывод

 Пустые столбцы содержат количественные переменные, т.к. и общий трудовой стаж в днях и ежемесячный доход могут принимать любое числовое значение, поэтому для каждого такого столбца расчитали медианы и заменили ими пустые значения.
 
 Возможными причинами появления пропусков в данных могут быть:
  а) отсутствие у клиента ежемесячного дохода и общего трудового стажа;
  б) нежелание клиентов указывать свой ежемесячный доход и общий трудовой стаж в днях (что странно,т.к человек обратился в банк за кредитом и кажется, что ему стоит указать все свои данные в 
  максимальном объеме, если это не вопрос о судимостях или уклоняющегося от армии брата, конечно).
 
 Обнаружили "аномалию": у некоторых клиентов в столбце 'children' указано -1 и 20. В обоих случаях, скорее всего, была опечатка. Принимаем решение заменить -1 на 1 и 20 на 2.

<font color='blue'>Названные причины действительно выглядят странно, банк вряд ли дал бы кредит без указания дохода. Более вероятно, что дело в какой-то ошибке выгрузки.

### Замена типа данных

In [ ]:
##Заменили вещественный тип данных на целочисленный:
import pandas as pd
file['days_employed'] = file['days_employed'].astype('int')
file['total_income'] = file['total_income'].astype('int')
#Проверили, что замена удалась:
file.dtypes

### Вывод

Обнаружили, что в исходной таблице file есть 2 столбца с вещественным типом данных (days_employed и total_income). Т.к. логически общий трудовой стаж в днях и ежемесячный доход не могут быть нецелыми числами, заменили вещественный тип данных на целочисленный.
Т.к. нам нужно, чтобы все числа имели тип данных float, выбрали <font color='purple'>метод astype('int').</font>

<font color='green'>Согласен, дробные части дней стажа и копейки в уровнях дохода нас не интересуют. А замена на целочисленный тип не только улучшает визуальное восприятие, но и сэкономит память и время.

~<font color='brown'>Однако я вижу некую путаницу в комментарии. Разве мы используем здесь `to_numeric`?~
<font color='purple'>Исправлено</font>

### Обработка дубликатов

In [162]:
#Перед тем, как приступить к определению и удалению дубликатов, приведем все столбцы, содержащие 
#текстовые значения, к строчному регистру:
file['education'] = file['education'].str.lower()
file['family_status'] = file['family_status'].str.lower()
file['income_type'] = file['income_type'].str.lower()
file['purpose'] = file['purpose'].str.lower()
#Определяем кол-во дубликатов в таблице file методом duplicated():
file.duplicated().sum() #71 строки
#Удаляем дубликаты из всей таблицы file методом drop_duplicates(), используя аргумент drop 
#со значением True, чтобы не создавать столбец со старыми значениями индексов:
file.drop_duplicates().reset_index(drop = True)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья
1,1,-4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля
2,0,-5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья
3,3,-4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21449,1,-4529,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем
21450,0,343937,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем
21451,1,-2113,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость
21452,3,-3112,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля
21453,2,-1984,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля

### Вывод

Для определения дубликатов использовали метод duplicated(), т.к. альтернативный метод value_counts() даст нам избыточную информацию о частоте встречаемости уникальных значений, а наша цель - просто удалить дубликаты.
Для удаления дубликатов использовали единственный известный нам метод drop_duplicates().

Возможными причинами возникновения дубликатов могут быть:
- человеческий фактор
- ошибка при слиянии данных (неправильный мердж)
- ошибка в исходных таблицах
- ошибка системы или процесса выгрузки

<font color='green'>С дубликатами разобрались, молодец, что приводишь образование к нижнему регистру перед удалением, без этого могли бы остаться "скрытые" дубликаты.

### Лемматизация

In [163]:
#импортируем библиотеку pymystem3:
from pymystem3 import Mystem
m = Mystem()
#вызываем специальный контейнер Counter из модуля collections:
from collections import Counter
file['lemmatized_purpose']=file['purpose'].apply(m.lemmatize)
text = ' '.join(file['purpose'].unique())
lemmas = m.lemmatize(text)
Counter(lemmas).most_common#добавил метод most_common

<bound method Counter.most_common of Counter({' ': 96, 'покупка': 10, 'недвижимость': 10, 'автомобиль': 9, 'образование': 9, 'жилье': 7, 'с': 5, 'операция': 4, 'на': 4, 'свой': 4, 'свадьба': 3, 'строительство': 3, 'получение': 3, 'высокий': 3, 'дополнительный': 2, 'для': 2, 'коммерческий': 2, 'жилой': 2, 'подержать': 2, 'заниматься': 2, 'сделка': 2, 'приобретение': 1, 'сыграть': 1, 'проведение': 1, 'семья': 1, 'собственный': 1, 'со': 1, 'профильный': 1, 'сдача': 1, 'ремонт': 1, '\n': 1})>

<font color='blue'>Этот список хорошо бы упорядочить. У `Counter` есть полезный метод most_common(x).

<b>UPD <font color=blue>✔✔👍

### Вывод

Выделили леммы в значениях столбца 'purpose' и посчитали кол-во их упоминаний, последовательно выполнив следующие шаги:

1) импортировали библиотеку pymystem3, затем вызвали специальный контейнер Counter для подсчёта кол-ва упоминаний лемматизированных слов в тексте;

2) выделили леммы из столбца 'purpose'

3) лемматизировали полученные в п.2) слова

4) посчитали кол-во упоминаний полученных в п.3) лемматизированных слов

<font color='green'>Здорово реализован автоматизированный поиск популярных лемм 👏 За это **жирный** плюс.

### Категоризация данных

In [164]:
def purpose_change(lemma):
    if 'жилье' in lemma or 'недвижимость' in lemma:
        return 'недвижимость'
    if 'свадьба' in lemma:
        return 'свадьба'
    if 'ремонт' in lemma:
        return 'ремонт'
    if 'автомобиль' in lemma:
        return 'автомобиль'
    if 'образование' in lemma:
        return 'образование'
    return 'другое'

file['new_purpose']=file['lemmatized_purpose'].apply(purpose_change)
file

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,lemmatized_purpose,new_purpose
0,1,-8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,"[покупка, , жилье, \n]",недвижимость
1,1,-4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,"[приобретение, , автомобиль, \n]",автомобиль
2,0,-5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,"[покупка, , жилье, \n]",недвижимость
3,3,-4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,"[дополнительный, , образование, \n]",образование
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,"[сыграть, , свадьба, \n]",свадьба
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21520,1,-4529,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,"[операция, , с, , жилье, \n]",недвижимость
21521,0,343937,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,"[сделка, , с, , автомобиль, \n]",автомобиль
21522,1,-2113,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,"[недвижимость, \n]",недвижимость
21523,3,-3112,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,"[на, , покупка, , свой, , автомобиль, \n]",автомобиль
21524,2,-1984,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,"[на, , покупка, , автомобиль, \n]",автомобиль

### Вывод

 Получили словарь, последовательно выполнив следующие шаги:
 
 1) лемматизировали столбец purpose.
 
 2) нашли леммы, которые в нем встречаются чаще всего - это и есть основные причины взятия кредитов, составляющие словарь.
 
 3) написали функцию, которая сопоставляет этот словарь причин со столбцом "purpose", после чего подбирает нужную причину.

<font color='green'>Безусловно, отлично справился. Это одно из сложных заданий проекта.

### Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [165]:
file_pivot = file.groupby(['children']).agg({'debt': ('sum','count')}).reset_index()
file_pivot['percent'] = file_pivot['debt']['sum'] / file_pivot['debt']['count']
file_pivot

  children  debt          percent
             sum  count
0        0  1063  14149  0.075129
1        1   445   4865  0.091470
2        2   202   2131  0.094791
3        3    27    330  0.081818
4        4     4     41  0.097561
5        5     0      9  0.000000

### Вывод

 Существует прямая зависимость между наличием детей и возвратом кредита в срок: 
 1. Клиенты с 5-ю детьми не имеют задолженностей по кредиту.
    Гипотеза о том, что человек с таким большим кол-вом детей несет больше рисков и ответственности, 
    что вынуждает его хорошо зарабатывать и не иметь проблем с законом и банками, не рассматриваем, 
    т.к. видим, что каждый 10-й клиент с 3-4 детьми имеет задолженность по кредиту. Скорее всего, 
    слишком маленькая выборка из 9 человек непоказательна.
 2. Клиенты без детей реже остальных имеют задолженности по возврату кредитов, несмотря на то, что 
    берут кредиты чаще остальных. Такие клиенты любят брать кредиты, которые без труда могут 
    вернуть без просрочки. 
 3. Каждый 10-й клиент, имеющий минимум 1 ребенка,имеет задолженность по кредиту.
    Ребенок требует немалых финансовых затрат,что вынуждает клиентов брать кредиты.
    Когда человек становится родителем, это оказывает определенное влияние на его 
    образ жизни и меняет привычный уклад. Человеку трудно перераспределить ресурсы(в т.ч. 
    финансовые), а также он может иметь проблемы со сном и отдыхом, и как следствие - может 
    столкнуться с перегоранием и увольнением, что, очевидно, затруднит выплаты по кредитам.

~<font color='red'>Безусловно, мы не можем делать выводы только из абсолютных цифр. Возможно, бездетных клиентов в принципе гораздо больше, поэтому и просрочек у них больше. Для оценки вероятности просрочки нам нужно посмотреть не количество, а _процент_ просрочивших кредит в каждой группе. Иными словами, какой процент из всех бездетных (однодетных, двухдетных) допустил просрочку. Как его получить? Просто разделить количество просрочивших бездетных на общее количество бездетных. Первое у нас уже есть, второе мы можем найти при помощи метода агрегации `count`. Напомню, что pandas позволяет без проблем делить датафреймы друг на друга.  
    Как ты понимаешь, все тоже самое относится и к последующим пунктам.~  
    <font color='purple'>Исправлено</font>

<b>UPD <font color=green>Отлично. Короткое и эффективное решение. Верные выводы.

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [166]:
file_pivot = file.groupby(['family_status']).agg({'debt': ('sum','count')}).reset_index()
file_pivot['percent'] = file_pivot['debt']['sum'] / file_pivot['debt']['count']
file_pivot

           family_status debt          percent
                          sum  count
0              в разводе   85   1195  0.071130
1         вдовец / вдова   63    960  0.065625
2       гражданский брак  388   4177  0.092890
3        женат / замужем  931  12380  0.075202
4  не женат / не замужем  274   2813  0.097405

<font color='blue'>Вот, здесь уже гораздо ближе к цели! Сумма клиентов по группам посчитана. Осталось грамотно поделить столбцы, чтобы найти процент просрочек по группам.

### Вывод

 1. Чаще всего имеют задолженность по кредиту неженатые/незамужние клиенты и те, кто состоит в 
    гражданских браках.
    Гипотеза: когда человек один физически(не замужем/не женат) или морально(в гражданском 
    браке), выплачивать кредит сложнее, чем в паре, т.к. нет финансовой поддержки со стороны 
    родителей партнера и нет финансовой подушки, которую обычно имеют молодожены после свадьбы.
 2. Намного чаще остальных берут кредиты клиенты, состоящие в браке, но при этом только 7,5% клиентов 
    из этой категории имеют задолженности по кредитам.
    Гипотеза: статус мужа/жены предполагает наличие острой необходимости купить большой телевизор, 
    умный холодильник, бесшумную стиральную машинку и разнообразные блендеры/тостеры. На все эти 
    "блага" клиенты берут очень много кредитов, но наличие финансовой подушки после свадьбы, а также 
    родственники всячески оказывают поддержку молодоженам, что позволяет конечно не полностью 
    исключить просрочки по выплатам кредитов, но уменьшить этот показатель.
 3. Вдовцы/вдовы и люди в разводе имеют меньшую склонность брать кредиты и иметь просрочки по 
    выплатам.
    Гипотеза: люди, потерявшие свою 2-ю половину, не хотят больше привязываться к чему-либо и иметь 
    обязательства, в том числе финансовые.

<b>UPD <font color='blue'>В целом, здесь видно, что наиболее надежные заемщики, это те, кто находится или когда-либо был в официальном браке.

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [167]:
#делим клиентов на 3 равные (по кол-ву) части и определяем для каждой части медианы по заработку
file['total_income'].quantile(q=[0.25,0.5,0.75])

0.25    107798.0
0.50    145017.0
0.75    195543.0
Name: total_income, dtype: float64

In [168]:
def income_group(income):
    if income == 0:
        return 'нулевой доход'
    if 0 < income <= 88612:
        return 'минимальный доход'
    if 88612 < income <= 135514:
        return 'средний доход'
    if 135514 < income <= 195543:
        return 'хороший доход'
    return 'высокий доход'

file['income_group'] = file['total_income'].apply(income_group)
file_pivot = file.groupby(['income_group']).agg({'debt': ('sum','count')}).reset_index()
file_pivot['percent'] = file_pivot['debt']['sum'] / file_pivot['debt']['count']
file_pivot

        income_group debt         percent
                      sum count
0      высокий доход  386  5381  0.071734
1  минимальный доход  247  3208  0.076995
2      средний доход  452  5381  0.083999
3      хороший доход  656  7555  0.086830

<s><font color=brown>Хорошо, но хотелось бы увидеть какое-то обоснование выбора границ доходов. Субъективные суждения зачастую обманчивы. Для кого-то ниже 100 000 - низкий доход, а для кого-то и 40 000 - высокий. Как результат, видим, что в нижнюю категорию почти никто не попал.
<font color='purple'>Исправлено</font>

<font color='blue'>Когда не вполне очевидно, как разбить сет, бывает удобно воспользоваться квантилями (как медиана, только бьет данные не на две, а на произвольное количество частей). Метод `describe`, примененный к столбцу, поможет разбить группу на 4 равные по количеству клиентов части. Или можно использовать непосредственно `.quantile(q=[0.25,0.5,0.75])`. Как видишь, тут уже можно разгуляться и указать произвольные границы в процентах.

<b>UPD <font color=green>Успешно применили квантили, супер.

### Вывод

Перед тем, как анализировать сводную таблицу, разделили клиентов на 3 равные (по кол-ву) части и определили для каждой части медианы по заработку. Так мы определили границы доходов в каждой части.
Затем написали цикл, который категоризирует клиентов на группы по доходам.

Люди с высоким доходом реже всего имеют просрочки по кредитам, что логично, т.к. у них бОльшая финансовая возможность отдавать кредиты в срок.

Люди с минимальным доходом реже остальных берут кредиты и имеют небольшую вероятность просрочить выплаты. Возможно, они не берут кредиты, т.к. не имеют возможности (или им его не одобряют).

Люди со средним и хорошим доходом чаще всего имеют задолженности по кредитам. Возможно, несмотря на неплохие зарплаты, до "высшей лиги" им без кредитов не дотянуться.

- Как разные цели кредита влияют на его возврат в срок?

In [169]:
#file_pivot = file.groupby(['new_purpose']).agg({'debt': ('sum','count')}).reset_index()
#file_pivot['percent'] = file_pivot['debt']['sum'] / file_pivot['debt']['count']
#file_pivot
file_pivot = file.pivot_table(index = ['new_purpose','children'], values = 'debt', aggfunc = ('sum','count'))
file_pivot['percent'] = file_pivot['sum'] / file_pivot['count']
file_pivot.sort_values(by = 'percent', ascending = False)

                       count  sum   percent
new_purpose  children
свадьба      3            32    5  0.156250
недвижимость 4            21    3  0.142857
автомобиль   2           415   50  0.120482
образование  2           419   47  0.112172
автомобиль   1           976  104  0.106557
образование  1           877   90  0.102623
автомобиль   4            10    1  0.100000
свадьба      1           536   51  0.095149
образование  0          2649  229  0.086448
автомобиль   0          2852  243  0.085203
недвижимость 2          1072   90  0.083955
автомобиль   3            60    5  0.083333
недвижимость 1          2476  200  0.080775
             3           169   13  0.076923
свадьба      0          1551  115  0.074146
недвижимость 0          7097  476  0.067071
свадьба      2           225   15  0.066667
образование  3            69    4  0.057971
недвижимость 5             5    0  0.000000
образование  4             7    0  0.000000
             5             1    0  0.000000
автомобиль   5             2    0  0.000000
свадьба      4             3    0  0.000000
             5             1    0  0.000000

### Вывод

 Как и ожидалось, чем выше стоимость услуги, тем чаще на эту слугу берут кредит. Недвижимость все еще самая желанная и самая недоступная цель для клиентов, но при этом доля просрочек самая низкая. Возможно, это из-за того что люди, берущие кредит на недвижимость, идут "all in", т.е. все свои источники дохода направляют на скорейший сброс такой большого груза.
 
 Наши клиенты берут и просрачивают кредиты на образование в той же мере, что и кредиты на автомобили. Тот факт, что кол-во взятых кредитов на эти 2 цели сопоставимо, говорит о том, что в системе ценностей у наших клиентов автомобиль = образование. Можно сказать, что это из-за того, что образование в стране доступно без кредитов (нет), а можно просто сказать о приоритетах.
 
 Радует, что клиенты берут кредиты на свадьбу реже остальных категорий и с низкой вероятностью имеют просрочки по выплатам (скорее всего из-за помощи родителей и подаренных денег молодым). Пугает то, что на свадьбы кредиты все еще берут.

~<font color='red'>Этот шаг требует доработки. Давай найдем относительные цифры и, вероятно, пересмотрим выводы.~  
<font color='purple'>Исправлено</font>

<b>UPD <font color=green>Теперь шаг выполнен отлично.Верные цифры, лаконичный код, четкие и правильные выводы. Уверенное использование агрегации данных.

<b>UPD <font color='red'>Однако одной из целей этой работы является отработка применения сводных таблиц. Это гибкий и удобный способ, развитие метода `groupby()`, которым, как я вижу, ты уже вполне умеешь пользоваться. Предлагаю сделать шаг вперед и применить (хотябы один раз) в рассчетах метод `pivot_table()`. Подсказка: для ответов на поставленные вопросы можно не указывать аргумент `columns` - тогда мы получим одномерную табличку, как в случае с `groupby()`.</font>
  <font color='blue'> При желании же копнуть глубже, можно указать в качестве колонок (аргумент `columns`) какую-либо вторую категорию, тогда мы сможем оценить, например, как отдают кредиты люди с детьми и с целью - автомобиль.</font>

<font color='purple'>Копнули глубже и, использовав метод pivot_table() вместо groupby(), получили информацию о том, как кол-во детей и цель кредита влияют на то, как человек выплачивает кредит.
    
   В многодетных семьях (4-5 детей) кредиты почти не берут, а если и берут, то отдают без просрочек. Мотив понятен: риски высоки, семья очень большая, нужно минимизировать проблемы с банками и сосредоточиться на воспитании.
    
   Клиенты без детей чаще остальных берут кредиты, но хорошо их выплачивают: если кредит взят на базовые вещи (недвижимость или свадьба), то 92-93% таких клиентов выплачивают кредиты в срок; кредиты на небазовые вещи(автомобиль или образование) отдают немного хуже, но все равно почти образцово: 91% клиентов не имеют задолженностей.
  
   Самые же злостные нарушители сроков выплаты кредитов - это счастливые обладатели 3-4 детей, цель кредита которых - свадьба или недвижимость. Похоже, что у данных клиентов не совсем все идет по плану и, неожиданно для себя родив треть футбольной команды, они в срочном порядке вынуждены играть свадьбы и покупать квартиру. А зачастую принятые наспех решения ведут к плохим последствиям. В нашем случае это просрочка выплат по кредитам.

### Шаг 4. Общий вывод

 Безусловно, такие важные социальные метрики, как кол-во детей, семейный статус, доход и цели кредита непосредственно влияют на его возврат в срок.
 Вот как выглядит типичный портрет нежелательного клиента нашего банка, который с большей вероятностью просрочит выплату кредита: клиент имеет от 1 до 4 детей, состоит в гражданском браке или не женат/не замужем, имеет хороший доход (от 135514р до 195543р) и собирается взять кредит на образование или на покупку автомобиля.
 Следующая информация будет очень полезна для отдела маркетинга: статус мужа/жены вместе с желанием завести детей чаще всего подталкивает клиентов к взятию кредита на самую желанную и самую недоступную цель для человека - недвижимость. 
 Прям как у Булгакова: "Что ж ... обыкновенные люди ... квартирный вопрос только испортил их".

<font color=green>Очень хорошо, что в общем выводе ты даешь четкий ответ на центральный вопрос, то есть бизнес совет клиенту - кто для него хороший клиент, кто плохой. Именно этого он от нас обычно и ждет.

~<font color='brown'>Однако не все тезисы получились верными, обязательно стоит пересмотреть вывод после доработки.~  
<font color='purple'>Исправлено</font>

<font color=green>К оформлению работы вопросов нет: все аккуратно, код и комментарии в подходящих ячейках. Код читабелен, комментарии грамотны и понятны.

---
<font color='blue'>Итак, отличная работа, особенно для первого проекта. Ты показываешь прекрасное владение изучаемым материалом: уверенно пользуешься pandas, умеешь подготавливать, очищать, обогощать данные. Также ты правильно разбиваешь их на категории, грамотно применяя метод `apply()`. Отмечу уверенное использование метода `groupby()`.    
    Однако некоторые замечания у меня все же есть, главным образом, по третьему шагу. Уверен, учесть их тебе не составит труда. Жду доработанный проект, успехов!

<b>UPD <font color=blue>Работа почти доведена до идеала. Мне нужно только убедиться, что ты освоил сводные таблицы, и я принимаю проект.

### Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [x]  файл изучен;
- [x]  определены пропущенные значения;
- [x]  заполнены пропущенные значения;
- [x]  есть пояснение, какие пропущенные значения обнаружены;
- [x]  описаны возможные причины появления пропусков в данных;
- [x]  объяснено, по какому принципу заполнены пропуски;
- [x]  заменен вещественный тип данных на целочисленный;
- [x]  есть пояснение, какой метод используется для изменения типа данных и почему;
- [x]  удалены дубликаты;
- [x]  есть пояснение, какой метод используется для поиска и удаления дубликатов;
- [x]  описаны возможные причины появления дубликатов в данных;
- [x]  выделены леммы в значениях столбца с целями получения кредита;
- [x]  описан процесс лемматизации;
- [x]  данные категоризированы;
- [x]  есть объяснение принципа категоризации данных;
- [x]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Как разные цели кредита влияют на его возврат в срок?";
- [x]  в каждом этапе есть выводы;
- [x]  есть общий вывод.